@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
/*Declarando Variáveis em Css*/
:root{
    --branco:#ffffff;
    --verdeClaro:#77bb44;
    --verdeMédio:#2ca243;
    --verdeEscuro:#107c10;
    --preto:#000000;
}

/*Reset global*/
*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--preto);
    color: var(--branco)
}

h2{
    font-size: 1.7em;
    color: var(--branco);
    font-family: 'Amatic SC', cursive;
}

header{
    background-color:#251515c0;
    padding-top:1vh;
    padding-bottom: 1vh;
}

/*Css dos links*/
header nav a{
    font-size:medium;
    margin-right: 15px;
    color: #ffffff;
    text-decoration: none;
}
/*Css de quando clicar nos botões da navbar*/
header nav a:hover{
    color: var(--verdeClaro)
}

/*Alinhando os links um do lado do outro*/
header .container{
    display:flex;
    align-items: center;
    justify-content:space-around;
}

/*Jogo Principal*/
.titulo{
    font-size: 3.0rem;
    height:30%;
    font-family: open sans;
}
/*Conteúdo da caixa principal*/
.jogo-principal{

    background:url(../img/Martha-is-Dead.jpg);
    height: 450px;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

/*Distanciamento*/
.jogo-principal .description{
    margin-top: 2vh;
    margin-bottom:2vh;
}
/* Css dos botões da caixa principal*/
.button{
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,.50);

    padding: 15px 30px;
    margin-right: 2vh;
    font-size: 0.9em;

    cursor: pointer;
    transition: .3s ease all;
}
/*Animação de quando clicar no botão*/
.button:hover{
    background-color:white;
    color: black;
}
/*Espaçamento entre o ícone e o texto do botão*/
.button i{
    margin-right: 8px;
}

/*Distanciamento do container*/
.container{
    margin-left: 3vh ;
}

.jogo-principal .container{
    width: 70%;
}

.box-jogos{
    height:100%;
    width: 100%;
    display: block;
}