/*Quando a tela for maior que 768px */
@media screen and (max-width: 768px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    .button{
        margin-top: 5px;
        width: 240px;
    }
}

@media screen and (min-width:1000px){
    .description{
        width: 50%;
    }

    .item{
        padding-top: 5px;
    }
}